/MegaBot/*.ncb
/MegaBot/*.suo
/MegaBot/Release
/MegaBot/Debug
/Skynet/Skynet/Competition
/MegaBot/*.opensdf
/MegaBot/*.sdf
/NUSBot/NUSBot/src/NUSBot/VisualStudio/*.sdf
/TournamentModule/*.suo
/TournamentModule/*.ncb
/TournamentModule/Release
/TournamentModule/TournamentModule.vcproj.VMSC-dev.programmer.user
/Skynet/Skynet/Release
