/MegaBot/*.ncb
/MegaBot/*.suo
/MegaBot/Release
/MegaBot/Debug
/Skynet/Skynet/Competition
/MegaBot/*.opensdf
/MegaBot/*.sdf
/NUSBot/NUSBot/src/NUSBot/VisualStudio/*.sdf
/TournamentModule/*.suo
/TournamentModule/*.ncb
/TournamentModule/Release
/TournamentModule/TournamentModule.vcproj.VMSC-dev.programmer.user
/Skynet/Skynet/Release
/MegaBot/lib/Xelnaga-lib.lib
*.obj
*.idb
/Skynet/Skynet/Debug/*.tlog
/Skynet/Skynet/Debug/*.log
*.pdb
*.tlog
/XelNaga/AiurModule/Debug/*.log
*.lastbuildstate
