/NUSBot/src/NUSBot/VisualStudio/NUSBot.v11.suo
/NUSBot/src/NUSBot/VisualStudio/Debug
/NUSBot/src/NUSBot/VisualStudio/Release
/NUSBot/src/NUSBot/VisualStudio/NUSBot.suo
*.ncb
*.suo
/NUSBot/src/SparCraft/VisualStudio/Debug
/NUSBot/src/SparCraft/VisualStudio/Release
/NUSBot/src/StarcraftBuildOrderSearch/VisualStudio/Release
/NUSBot/src/StarcraftBuildOrderSearch/VisualStudio/Debug
